body {
text-align: center;
}


nav ul {
list-style: none;
padding: 0;
}


nav ul li {
display: inline;
margin: 0 15px;
}


nav ul li a {
color: white;
text-decoration: none;
font-weight: bold;
}


.hero {
padding: 50px;
background-color: #a5d6a7;
text-align: center;
}


.cards {
display: flex;
gap: 20px;
padding: 20px;
}


.card {
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
flex: 1;
}


form {
max-width: 300px;
margin: auto;
display: flex;
flex-direction: column;
gap: 10px;
}


button {
padding: 10px;
background-color: #1b5e20;
color: white;
border: none;
cursor: pointer;
}
